//Settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables

$mainBlack: #20252B;
$mainYellow: rgba(255, 255, 0, 0.507);

//Mixins

@mixin onHover {
    &:hover {
        cursor: pointer;
    }
}

//App

.todo__app {
    min-height: 100vh;
    height: auto;
    border: 2px solid $mainYellow;
    display: grid;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    background: $mainBlack;
    color: white;
    font-size: 1.1rem
}

//Header

@import 'partials/header';

//Main

@import 'partials/main';

//Classes

.line__through {
    text-decoration: line-through;
    opacity: 0.4;
    color: lightgray;
}


//Responsive

@media (min-width: 700px) {
    .app__header {
    
        .header__title {
            padding: 2rem;
            font-size: 3.6rem;
        }
    
        .header__input {
            font-size: 2rem;
            padding: 1rem;
        }
    }
    .main__list {
        height: auto;
    
        .list__item {
            padding: 2rem;
        }
    
        .item__text, .item__delete {
            font-size: 1.9rem;
        }
    }
}

