.app__header {
    
    .header__title {
        padding: 1rem;
    }

    .header__input {
        background: black;
        border: 3px solid $mainYellow;
        border-radius: 5px;
        padding: 0.6rem;
        width: 85%;
        margin-bottom: 1rem;
        color: white;
        font-weight: bolder;
        outline: none;
    }
}